@model Reader
<h2 class="text-primary">Show Reader With Photo</h2>
<hr />

<div class="card" style="width:200px">
    <img class="card-img-top" src="/Images/@Model.Image" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Age</p>
    </div>
</div>
<hr />
<form action="/Reader/Index" method="post">
    <button style="background-color: blue; color: white;">GO To List</button>
</form>





