@model List<Category>
<h2 class="text-primary">Categories</h2>
<hr />
<a href="/Category/Create" class="btn btn-primary">
	<i class="icofont-plus"></i>
	Add New
</a>
<hr />
<table class="table table-border table-hover">
	<thead>
		<tr>
			<th>The Category</th>
			<th>Click Delete If You Want To Delete Category</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>

				<td>
					<form action="/Category/Delete/@item.Id" method="post">
						<button class="btn-danger">Delete</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
